* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ff3f00;
}

main {
  padding: 4%;
}

p {
  color: #333330;
  font-size: 1rem;
  font-weight: 400;
}

.homePage {
  background-image: url('images/back-1.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  background-image: url('images/text-bg.jpg');
  background-clip: initial;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
}

.main-text {
  border: 2px solid #fff;
  padding: 2%;
  margin: 3% auto 3% auto;
}

.date {
  font-size: 0.9rem;
  font-weight: 800;
  color: #333330;
  padding: 2%;
  margin: 3% auto 5% auto;
}

nav {
  background: #fff;
  color: #333330;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #6e6c64;
  font-size: 1.2rem;
}

nav .mainMenu li a:hover {
  background: #fff;
  color: #f06e43;
}

nav .openMenu {
  display: none;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    background: transparent;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: top 0.5s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: #ff3f00;
    font-size: 1.5rem;
  }

  .logo {
    display: none;
  }
}
