@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ec5242;
}

main {
  padding: 4%;
}

p {
  color: #333330;
  font-size: 1rem;
  font-weight: 400;
}

.homePage {
  background-image: url('images/bg-1.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.program {
  background-image: url('images/back-2.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.underline {
  width: 15%;
  height: 2px;
  background: #ec5242;
  margin: 2% auto 2% auto;
}

.program-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
}

.program-card {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 8px 0 2px 0;
}

.program-img {
  height: 12vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-card p {
  color: #fff;
  font-weight: 300;
  padding: 2%;
  z-index: 10;
  font-size: 0.9rem;
}

.program-card h3 {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 2% 3% 2% 0;
}

.program-text {
  margin: 2px;
  height: 12vh;
  width: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-text h3 {
  font-size: 1rem;
  font-weight: 600;
}

.program-btn {
  display: flex;
  justify-content: center;
}

.program-btn button {
  background: #ec5242;
  height: 10vh;
  width: 35vh;
  border: none;
}

.program-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5%;
}

.contact a {
  color: #33363f;
  font-weight: 800;
}

.program-btn button a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.program-content {
  margin: 2px;
  height: 12vh;
  width: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'cocogoose', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  background-image: url('images/text-bg.jpg');
  background-clip: initial;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
}

.main-text {
  border: 2px solid #fff;
  padding: 2%;
  margin: 3% auto 3% auto;
}

.date {
  font-family: 'cocogoose', sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  color: #333330;
  padding: 2%;
  margin: 3% auto 5% auto;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 7%;
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 10px;
}

.top-nav {
  background-color: #3e3e3e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.bottom-nav {
  background: #fff;
  color: #333330;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #6e6c64;
  font-size: 1.2rem;
}

nav .mainMenu li a:hover {
  background: #fff;
  color: #f06e43;
}

nav .openMenu {
  display: none;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size: 20px;
  cursor: pointer;
}

#featured-artists {
  background: #fcfcfc;
}

.featured-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  height: 80vh;
  margin: 20px;
  padding: 0% 5% 0% 5%;
}

.image-container {
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.card-text {
  width: 50%;
  padding: 10px;
}

.card {
  display: flex;
  width: 35%;
  margin-bottom: 20px;
  transition: 0.3s;
  overflow: hidden;
  padding: 0% 2% 0% 2%;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background: #272a31;
}

.partners-title {
  color: #d3d3d3;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-container img {
  width: 15vw;
  height: 10vh;
  margin: 20px;
}

.creative-commons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  height: 30vh;
}

.creative-commons img {
  width: 12vw;
  height: 5vh;
  margin: 20px 20px 20px 20px;
}

.creative-commons-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.creative-commons-text p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 5%;
}

.about-art-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/about.jpg');
  height: 90vh;
}

.about-art-title h2 {
  font-size: 3.5rem;
  font-family: 'cocogoose', sans-serif;
  font-weight: 800;
  color: #ec5242;
  text-align: center;
}

.about-art-text {
  width: 65%;
  min-height: 20vh;
  background: #f4f8fb;
  box-shadow: #d0d7e1 4px 2px 4px 2px;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5%;
  text-align: center;
  padding: 2%;
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f8fb;
  height: 72vh;
  border-bottom: 2px solid #d0d7e1;
}

.additional-info img {
  width: 30vw;
  height: 32vh;
  border: 2px solid #d0d7e1;
  margin-bottom: 6%;
}

.additional-info article {
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5%;
}

.events {
  display: flex;
  flex-direction: column;
  background: #f4f8fb;
}

.events-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.events-text {
  display: flex;
  justify-content: center;
}

.events-text p {
  font-weight: 500;
  font-size: 1.1rem;
}

.events-pics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.festival1,
.festival2 {
  width: 30vw;
  height: 35vh;
  margin: 20px;
}

.festival1 {
  background-image: url('images/festival1.jpg');
  background-size: cover;
}

.festival2 {
  background-image: url('images/festival-2.jpg');
  background-size: cover;
}

.festival-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 30vw;
  height: 35vh;
  background: rgba(238, 82, 60, 0.7);
}

.festival-text p {
  color: #fff;
}

.creative-commons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e2e;
  height: 30vh;
}

.creative-commons2 img {
  width: 12vw;
  height: 5vh;
  margin: 20px 20px 20px 20px;
}

.creative-commons2 p {
  color: #fff;
}

.cards-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more-button {
  display: none; /* Hide button by default */
}

@media (max-width: 768px) {
  .bottom-nav {
    background: transparent;
  }

  .top-nav {
    display: none;
  }

  /* Show only the first two cards */
  .card:nth-child(n+2) {
    display: none;
  }

  /* Show the cards collapse container */
  .cards-collapse {
    display: block;
  }

  .cards-collapse .show-card {
    display: flex;
    height: 16vh;
    width: 37vh;
  }

  .collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Show the show more button */
  .show-more-button {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 40px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
  }

  .show-more-button i {
    font-size: 1.5rem;
    padding: 8px;
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  #featured-artists {
    margin: 30px 0;
  }

  .card-text {
    width: 70%;
    height: 100px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card {
    display: flex;
    height: 16vh;
    width: 37vh;
  }

  .featured-container {
    max-height: 500px;
    /* Add a vertical scrollbar */
    overflow-y: auto;
  }

  .partners-container img {
    width: 16vw;
    height: 5vh;
    margin: 20px;
  }

  .about-art-text {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .about-art-title h2 {
    font-size: 1.5rem;
    font-family: 'cocogoose', sans-serif;
  }

  .contact {
    text-align: center;
  }

  .additional-title {
    text-align: center;
  }

  .additional-info img {
    width: 52vw;
    height: 28vh;
  }

  .events-pics {
    display: flex;
    flex-direction: column;
  }

  .festival1,
  .festival2 {
    width: 65vw;
    height: 25vh;
  }

  .events-text {
    text-align: center;
  }

  .festival-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 65vw;
    height: 25vh;
    background: rgba(238, 82, 60, 0.7);
  }

  .creative-commons2 img {
    width: 15vw;
    height: 4vh;
    margin-left: 20px;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: top 0.5s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: #ec5242;
    font-size: 1.5rem;
  }

  .logo,
  .more {
    display: none;
  }
}

@media (min-width: 768px) {
  .list-item {
    border: 3px solid #ec5242;
    margin: 3px;
    border-radius: 8px;
  }

  .logo a {
    text-decoration: none;
    color: rgb(10, 165, 165);
  }

  .more a {
    color: #fff;
  }

  .mainMenu .list-item a {
    color: #ec5242;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }

  .mainMenu .list-item a:hover {
    color: #6e6c64;
    background: #ec5242;
  }

  .program-btn {
    display: none;
  }

  .program {
    min-height: 50vh;
    max-width: 100%;
  }

  .program-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    min-height: 30vh;
  }

  .program-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 20vw;
    height: 30vh;
  }

  .program-content {
    margin: 2px;
    height: 12vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .underline {
    width: 10%;
    height: 1px;
    background: #ec5242;
    margin: 1% auto 1% auto;
  }

  .mainHead {
    padding: 2%;
    min-height: 27vh;
  }

  .mainHead h2 {
    font-size: 4rem;
    font-weight: 800;
  }

  main h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 2%;
  }

  .main-text {
    border: 2px solid #fff;
    padding: 2%;
    margin: 3% auto 0 0;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .paragraph {
    display: flex;
    align-items: flex-start;
  }

  .date {
    font-size: 2rem;
    font-weight: 800;
    color: #333330;
  }

  .location {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .logo img {
    margin-left: 50px;
    width: 70px;
    height: 50px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5vh;
  }
}
